.start {
    background-image: url("images/hauntedHouse.jpg");
    background-size: cover;
}

button {
    border: 5px solid #000;
    border-radius: 10px;
    background-color: #FF9100;
    color: rgb(0, 0, 0);
    font-weight: bold;
}

.enterButton {
    position: absolute;
    left:57%;
    top:80%;
}

.stayButton {
    position: absolute;
    left:9%;
    top:85%;
}

.lobby {
    background-image: url("images/lobby.jpg");
    background-size:cover;
}

.enterHall {
    position: absolute;
    left:43.5%;
    top:65%;
}

.restart {
    position: absolute;
   /*width:5%;
    height:5%;*/


}

.goBack {
    position: absolute;
    right: 1%;
}

.graveyard {
    background-image: url("images/graveyard.jpg");
    background-size:cover;
}

.escape {
   position:absolute;
   /*width:5%;
   height:8%;*/
   top:30%;
   left:85%;
    
}

.hallway {
    background-image: url("images/hallway.jpg");
    background-size:cover;
}

.enterDeath1{
    position:absolute;
    left:30%;
    top:60%;
    color: rgb(255, 255, 255);
    background-color: black;
}

.death1{
    background-image:url("images/figure1.jpg");
}

.enterBasement {
    position:absolute;
    left:60%;
    top:50%;
    color: rgb(255, 255, 255);
    background-color:black;
}

.basement {
    background-image:url("images/basement.jpg");
    background-size:cover;
}

.conWalk {
    position:absolute;
    left:40%;
    top:70%;
    color: rgb(255, 255, 255);
    background-color:black;
}

.cat {
    background-image:url("images/blackCat.jpg");
    background-size:cover;
}

.followCat{
    position:absolute;
    left:70%;
    top:50%;
    color: rgb(255, 255, 255);
    background-color:black;
}

.winOne {
    background-image:url("images/blackCat2.jpg");
    background-size:cover;

}

.ignoreCat {
    position:absolute;
    left:40%;
    top:50%;
    color: rgb(255, 255, 255);
    background-color:black;
}

.death2 {
    color: rgb(255, 255, 255);
    background-color:black;
}

.enterBathroom {
    position:absolute;
    left:20%;
    top:50%;
    color: rgb(255, 255, 255);
    background-color:black;
}

.bathroom {
    background-image: url("images/bathroom.jpg");
    background-size:cover;
}

.upstairs {
    position: absolute;
    left:27%;
    top:38%;
}

h1 {
    text-align: center;
    color: white;
    font-size: 38px;
}

h1 span {
    background-color: black;
    padding: 5px;
    padding-left: 5px;
    padding-right: 5px;
}

.bench {
    background-image: url("images/spookybench.jpeg");
    background-size:cover;
}

.benchButton {
    position: absolute;
    left:90%;
    top:91%;
}

.takeKey {
    position: absolute;
    left:57%;
    top:69%;
}




